[user]
	name = Ar Fajar Setiaji
	email = arfajarsetiaji.id@gmail.com
[core]
	editor = code --wait
	excludesfile = /Users/arfajarsetiaji/.gitignore_global
	eol = lf
	autocrlf = false
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
